<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name> servidorCentral </param-name>
        <param-value> pcunix43 </param-value>
    </context-param>
    <context-param>
        <param-name> puertoServidor </param-name>
        <param-value> 9999 </param-value>
    </context-param>
    <filter>
        <filter-name>Filtro</filter-name>
        <filter-class>Controller.Filtro</filter-class>
    </filter>
    <filter>
        <filter-name>FiltroAcceso</filter-name>
        <filter-class>Controller.FiltroAcceso</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FiltroAcceso</filter-name>
        <url-pattern>/Estadisticas</url-pattern>
        <url-pattern>/ListadosDeVersiones</url-pattern>
        <url-pattern>/Juego</url-pattern>
        <url-pattern>/juegosDesarrollador</url-pattern>
        <url-pattern>/altaVersion</url-pattern>
        <url-pattern>/ConsultaPerfil</url-pattern>
        <url-pattern>/ListadoDeCompras</url-pattern>
        <url-pattern>/CompraExitosa</url-pattern>
        <url-pattern>/Descarga</url-pattern>
        <url-pattern>/Reclamo</url-pattern>
        <url-pattern>/ConsultaReclamo</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Filtro</filter-name>
        <servlet-name>Juego</servlet-name>
        <servlet-name>Usuario</servlet-name>
        <servlet-name>Home</servlet-name>
        <servlet-name>ConsultaJuego</servlet-name>
        <servlet-name>ConsultaPerfil</servlet-name>
        <servlet-name>Busqueda</servlet-name>
        <servlet-name>ListadoJuegos</servlet-name>
        <servlet-name>ComprarJuego</servlet-name>
        <servlet-name>CompraExitosa</servlet-name>
        <servlet-name>ListadoDeCompras</servlet-name>
        <servlet-name>ListadoDeVersiones</servlet-name>
        <servlet-name>juegosDesarrollador</servlet-name>
        <servlet-name>altaVersion</servlet-name>
        <servlet-name>Reclamos</servlet-name>
        <servlet-name>ConsultaReclamo</servlet-name>
        <servlet-name>Estadisticas</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>Juego</servlet-name>
        <servlet-class>Controller.Juego</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Usuario</servlet-name>
        <servlet-class>Controller.Usuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sesion</servlet-name>
        <servlet-class>Controller.sesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>Controller.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaJuego</servlet-name>
        <servlet-class>Controller.ConsultaJuego</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaPerfil</servlet-name>
        <servlet-class>Controller.ConsultaPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Busqueda</servlet-name>
        <servlet-class>Controller.Busqueda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListadoJuegos</servlet-name>
        <servlet-class>Controller.ListadoJuegos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerificacionAjax</servlet-name>
        <servlet-class>Controller.VerificacionAjax</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComprarJuego</servlet-name>
        <servlet-class>Controller.ComprarJuego</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompraExitosa</servlet-name>
        <servlet-class>Controller.CompraExitosa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListadoDeCompras</servlet-name>
        <servlet-class>Controller.ListadoDeCompras</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListadoDeVersiones</servlet-name>
        <servlet-class>Controller.ListadoDeVersiones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>juegosDesarrollador</servlet-name>
        <servlet-class>Controller.juegosDesarrollador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Imagenes</servlet-name>
        <servlet-class>Controller.Imagenes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>altaVersion</servlet-name>
        <servlet-class>Controller.altaVersion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>finalizarAltaVersion</servlet-name>
        <servlet-class>Controller.finalizarAltaVersion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reclamos</servlet-name>
        <servlet-class>Controller.Reclamos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinalizarReclamo</servlet-name>
        <servlet-class>Controller.FinalizarReclamo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaReclamo</servlet-name>
        <servlet-class>Controller.ConsultaReclamo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Estadisticas</servlet-name>
        <servlet-class>Controller.Estadisticas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfiguracionDeNotificaciones</servlet-name>
        <servlet-class>Controller.ConfiguracionDeNotificaciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>atencionReclamo</servlet-name>
        <servlet-class>Controller.atencionReclamo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Estadisticas</servlet-name>
        <url-pattern>/Estadisticas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Usuario</servlet-name>
        <url-pattern>/Home</url-pattern>
        <url-pattern>/altaPerfil</url-pattern>
    </servlet-mapping>Imagenes
    <servlet-mapping>
        <servlet-name>sesion</servlet-name>
        <url-pattern>/sesion</url-pattern>
        <url-pattern>/header</url-pattern>
        <url-pattern>/ComprarJuego</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaJuego</servlet-name>
        <url-pattern>/ConsultaJuego</url-pattern>
        <url-pattern>/ComprarJuego</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Juego</servlet-name>
        <url-pattern>/altaJuego</url-pattern>
        <url-pattern>/categoria</url-pattern>
        <url-pattern>/Juego</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaPerfil</servlet-name>
        <url-pattern>/ConsultaPerfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Busqueda</servlet-name>
        <url-pattern>/Busqueda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListadoJuegos</servlet-name>
        <url-pattern>/ListadoJuegos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerificacionAjax</servlet-name>
        <url-pattern>/checkPerfil</url-pattern>
        <url-pattern>/checkJuego</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComprarJuego</servlet-name>
        <url-pattern>/ComprarJuego</url-pattern>
        <url-pattern>/ConsutlaJuego</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompraExitosa</servlet-name>
        <url-pattern>/CompraExitosa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListadoDeCompras</servlet-name>
        <url-pattern>/ListadoDeCompras</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListadoDeVersiones</servlet-name>
        <url-pattern>/ListadoDeVersiones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>altaVersion</servlet-name>
        <url-pattern>/altaVersion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>finalizarAltaVersion</servlet-name>
        <url-pattern>/finalizarAltaVersion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Imagenes</servlet-name>
        <url-pattern>/Imagenes</url-pattern>
        <url-pattern>/Descarga</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>IngresarComentario</servlet-name>
        <servlet-class>Controller.IngresarComentario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IngresarComentario</servlet-name>
        <url-pattern>/IngresarComentario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reclamos</servlet-name>
        <url-pattern>/Reclamos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinalizarReclamo</servlet-name>
        <url-pattern>/FinalizarReclamo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaReclamo</servlet-name>
        <url-pattern>/ConsultaReclamo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>juegosDesarrollador</servlet-name>
        <url-pattern>/juegosDesarrollador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfiguracionDeNotificaciones</servlet-name>
        <url-pattern>/ConfiguracionDeNotificaciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>atencionReclamo</servlet-name>
        <url-pattern>/atencionReclamo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/404.jsp</location>
    </error-page>
    <security-constraint>
        <display-name>Constraint1</display-name>
        <web-resource-collection>
            <web-resource-name>Entire Aplication</web-resource-name>
            <url-pattern>/sesion</url-pattern>
            <url-pattern>/logginerror.jsp</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
</web-app>
